body {
  margin: 0px;
  padding: 0px;
  background-color: palegoldenrod;
  background-color: peachpuff;
  background-color: #bc986a;
  height: 1300px;
}
html{
  scroll-behavior: smooth;
}
.nav {
  height: 90px;
  width: 100%;
  background-color: #85dcb8;
  opacity: 94%;
  position: fixed;
  justify-content:center;
  align-items: center;
}

nav ul {
   display: inline-block; 
  margin: 40px;
  margin-left: 39px;
  padding: 13px;
}
.nav li {
   margin: 16px 58px 0px 60px; 
  /* margin:auto; */
  text-decoration: none;
  float: left;
  list-style: none;
  font-size: 30px;
  font-family: "Staatliches", cursive;
  color: rgb(177, 9, 9);
  transition: color linear 0.15s;
  font-weight: 700;
  letter-spacing: 0.19em;
}
.nav li:hover {
  text-decoration: none;
  color: navy;
  color: #5a472e;
  cursor: pointer;
}
.nav li a{
  color:rgb(114, 111, 111)14, 111, 111);
  margin:0rem 1rem 1rem 2rem;
  text-decoration: none;
  float: left;
  list-style: none;
  font-size: 40px;
  font-size:2.1rem;
  font-family: "Staatliches", cursive;
  color:black;
  transition: color linear 0.15s;
  font-weight: 700;
  letter-spacing: 0.19em;

}
li a:hover{
  color: #5a472e;
  cursor: pointer;
}
.container1 {
  display: inline-block;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 36px;
  height: 4px;
  background-color: black;
  margin: 5px 0px;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.up {
  border: 1px solid black;
  height: 700px;
  background: url("img/new3.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  width:100%;
}

.up .write {
  margin: 350px auto 270px auto;
  height: 280px;
  width: 60%;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 65px;
}

.container2 {
  /* margin-top:20px; */
  border: 2px solid black;
  height: 490px;
  background: #85dcb8;
  display: flex;
  
}
.container2 .box1 {
  height:25.6rem
  padding: 1rem;
  width: 40%;
  font-size: 30px;
  font-family: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #5a472e;
  
}
.box1 p {
  /* border:2px solid red; */
  padding: 15px;
}
.box2 {
  width: 60%;
  background: url("img/larm-rmah-AEaTUnvneik-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:25.6rem ; 
  padding: 14px;
}
button {
  padding: 1rem;
  width: 190px;
  border:2px solid black;
  font-weight: bold;
  background-color: yellow;
}
button:hover{
  cursor:pointer;
  background:peru;
  cursor: pointer;
  border:3px solid black;
  border-radius: 6px;
}

.last {
  height: 200px;
  padding:10px;
  text-align: center;
  font-size: 20px;
  color: white;
  letter-spacing: 0.01em;
}
.last h4 {
  color: rgb(39, 19, 0);
  font-size: 21px;
}

footer {
  background-color: #bc986a;
  /* border:2px solid white;*/
  color: black;
  opacity: 70%;
  height: 450px;
  color: white;
}
.footer-item {
  color: black;
  box-sizing: border-box;
  display: block;
  padding: 30px 0;
  width: 96%;
  margin: 0 2%;
  color: white;
}
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 15px;
  outline: medium none;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  font-family: Interstate-Regular, Sans-serif;
  background-color: transparent;
  color: white;
}
footer .boxes {
  display: flex;
  color: black;
  height: 300px;
  margin-top: 0px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: 1.2em;
}
li p {
  color: black;
  font-size: 17px;
  letter-spacing: 0.01em;
}
.knowus,
.socialmedia,
.help,
.mailat,
.address {
  padding: 30px;
  margin-top: 0px;
  margin: 1px;
  user-select: none;
  width: 14%;
  color: black;
  letter-spacing: 0.13em;
}

.vl {
  border-left: 1.9px solid black;
  height: 220px;
  margin-top: 20px;
  opacity: 70%;
}

footer ul {
  list-style-type: none;
  margin: px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

}
@media screen and (max-width: 1200px) {
  .nav{
    
    font-size:20px;
    background-color: #85dcb8;
    opacity: 94%;
    position: fixed;
  }
  .container1{
    visibility: hidden;
  }

  }
  @media screen and (max-width: 1050px) {
    .nav{
      background-color: #85dcb8;
      opacity: 94%;
      position: fixed;
     
    }
    .nav li a{
      font-size: 1.6rem;
      margin:0.2px;
    }

  }

    @media screen and (max-width:808px){
      .up .write{
        
          font-size: 2.5rem;
        }
        .container2 .box1 p{
          font-size:1.4rem;
        }

      }



    @media screen and (max-width:763px){
      .nav{
        background-color: #85dcb8;
        opacity: 94%;
        position: fixed;
        
        font-size:rem;
        margin:0px;
      }
      .nav li a{
        font-size: 1.2rem;
      }
      .up{
        width:100%;
      }
      .container{
        width: 120%;
      }
      .container2 .box1{
        width:100%;
      }
      .container2 .box2{
        /* padding:20px;   */
        width:109%;
      }
    
    }
    @media screen and (max-width:752px){
      html{
        width:100%;
      }
      body{
        width:100%;
      }
      .up{
         width:100%; 
      }
      .container2{
        /* width:200%; */
        height:20rem;
      }
      .nav{
        width:100%;
        background-color: #85dcb8;
        opacity: 94%;
        position: fixed;
       
        
      }
      .nav li a{
        font-size: 1rem;
      }
      .container2 .box1{
        width:100%;
        height:1rem;
      }
      .container2 .box2{
        
      
        display: none;}

        .knowus ,.mailat, .socialmedia, .address ,.help{
          padding:12px;
          margin:1px;
        }

    }
    @media screen and (max-width:500px){
      .nav{

      }
      .nav li a{
        font-size: 1rem;
      }
    }


